@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(72, 61, 139);
    --primary-color-darker: rgb(25, 25, 112);
    --light-primary-color: rgb(131, 127, 160);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-size: 2em;
}

.relogio {
    font-size: 3em;
}

.pausado {
    color: red;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 auto;
    gap: 10px;
}

.buttons {
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    width: 20%;
}

.iniciar:disabled,.iniciar[disabled] {
    background: var(--light-primary-color);
    color: #c6c6c6;
    pointer-events: none;
}

button:hover {
    background: var(--primary-color-darker);
}

